1. Przechowywanie rekordów studentów o strukturze: Imię, nazwisko, adres, nr indeksu, PESEL, płeć
2. Dodawanie nowych studentów
3. Wyświetlanie całej bazy danych
4. Wyszukiwanie po nazwisku
5. Wyszukiwanie po numerze PESEL
6. Sortowanie po numerze PESEL
7. Sortowanie po nazwisku
8. Usuwanie po numerze indeksu